<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Area. get out
    body
    h1 hello there. you should not be here. i'm backtracing you and i'm going to inundate your computer with rick astley videos
    