doctype html
html
  head
    title= title
    link(rel='apple-touch-icon', href='/images/fav/apple-touch-icon.png')
    link(rel='icon',  type='image/png', sizes='32x32',href='/images/fav/favicon-32x32.png')
    link(rel='icon',  type='image/png', sizes='16x16',href='/images/fav/favicon-16x16.png')
    link(rel='manifest', href='images/fav/site.webmanifest')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketclient.js')
