div.menuleft
    div
        a(href='/') welcome to #{title}
    div
        a(href='nas1') vanilla war like card game
    div
        a(href='sockettest') the required socket test
    div
        a(href='admin/dashboard') admin
