extends layout

block content
  h2= subtitle
  p Imagine war (card game without choice) with a bit of a choice.
  p  The AI isn't smart though, so ... don't loose.
  p  All is vanilla JS, no libraries or such.
  br
  p YOUR CARDS ARE THE 3 BOTTOM ONES! s = spades, h = hearts, c = clubs and d = diamonds <- i really should do something so i do not have to write this line
  br
  .mygrid
    #moves them moves
    #cards 
      .cardgrid#adversaryCards
        div#card1
        div#card2
        div#card3
      .inplay
        #adversaryplayed
        #play
        #playerplayed.cardplayed 
      .cardgrid#playerCards
        div#card1
        div#card2
        div#card3
    #next
      div
        select#adversaryList
      div
        select#playerList
  script(src='/javascripts/deck.js')
  script(src='/javascripts/funcs.js')
  script(src='/javascripts/onload.js')
  