form
    border: 1px solid black
    border-radius: 5px
    width: 40%
    margin: auto
    div
        margin: 4px
        padding: 4px
        width: 60%
        margin: auto
        input
            display: inline-block
            font-family: Courier New, Courier, monospace
            border: 1px solid black
.inputname
    background-color: #EEE

.message
    width: 40%
    margin: 10px auto 10px auto
    padding: 10px
    color: #4d2f02
    background-color: #e09a30
    border: 2px solid #4d2f02
    border-radius: 5px
