p, body,  h1, div, body
  margin: 0
  padding: 0

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #003e57
  text-decoration: none


//a:before
//  content: "\00A4"
//  margin-right: 2px

a:hover
  color: black

h1
  padding: 10px 50px 10px 0
  margin-bottom: 15px
  box-shadow: 1px 2px 2px #888
  text-align: right
  
h2
  padding: 10px 50px 10px 0
  margin-bottom: 15px
  box-shadow: 1px 2px 2px #AAA
  text-align: right 
  color: #2e0069
  
.maingrid
  width: 90%
  margin: auto

.menuleft
  width: 100%
  display: inline-block
  div
    float: left
    padding: 2px 0px 2px 3px
    margin: 2px
    border-left: 1px solid black
  
.mainContent
  width: 100%
  align-content: right  

footer
  padding: 10px
  text-align: center
  margin-top: 20px
  border-top: 1px solid #CCC

@import cards
