p, body,  h1, div, body
  margin: 0
  padding: 0
select
  visibility: hidden

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.mygrid
  width: 90%
  padding: 0px
  margin: auto
  display: grid
  justify-content: stretch
  justify-items: stretch
  grid-template-columns: 1fr 3fr 1fr
  column-gap: 0px
  border: 1px solid grey
  div
    width: 100%

.cardgrid
  width: 60%
  padding: 2px 0 2px 0
  margin: auto
  display: grid
  justify-content: stretch
  justify-items: stretch
  grid-template-columns: 1fr 1fr 1fr
  column-gap: 0px
  div
    width: 80px
    height: 120px
    justify-self: center
    text-align: center
    font-size: 20px
    border: 1px solid green
.adversarySel
  background-color: grey
.playerSel
  background-color: grey

.playercards
  vertical-align: bottom
.inplay
  width: 60%
  padding: 2px 0 2px 0
  
  margin: auto
  display: grid
  justify-content: stretch
  justify-items: stretch
  grid-template-columns: 1fr 1fr 1fr
  column-gap: 0px
  div
    width: 80px
    height: 120px
    justify-self: center
    text-align: center
    font-size: 20px
    border: 1px solid black

.adv
  color: red
.ply
  color: green